<%- include('../views/head') %>
<h1 align="center"><%= title %></h1>

<p align="center"><%= standingStats["rank"] %> in Atlantic</p>

<p align="center">Current streak: <%= standingStats["streak"] %></p>

<h2 align="center">Team Statistics</h2>

<h2 align="center">in division standings can see current streak (like win streak), goals for, goals against, is there a better way of finding that information?</h2>

<div class="container" align="center">
    <body>
        <p style="color:blue;"> (<%= teamStats.wins %>-<%= teamStats.losses %>-<%= teamStats.ot %>)</p>
    </body>

    <body>
        <p style="color:blue;"> Goals Per Game: <%= teamStats.goalsPerGame.toFixed(2) %> <span style="color:red;">(<%= teamStatsRanking.goalsPerGame %>)</span></p>
    </body>

    <body>
        <p style="color:blue;"> Goals Against Per Game: <%= teamStats.goalsAgainstPerGame.toFixed(2) %> <span style="color:red;">(<%= teamStatsRanking.goalsAgainstPerGame %>)</span></p>
    </body>

    <body>
        <p style="color:blue;"> Power Play Percentage: <%= teamStats.powerPlayPercentage %>% <span style="color:red;">(<%= teamStatsRanking.powerPlayPercentage %>)</span></p>
    </body>

    <body>
        <p style="color:blue;"> Penalty Kill Percentage: <%= teamStats.penaltyKillPercentage %>% <span style="color:red;">(<%= teamStatsRanking.penaltyKillPercentage %>)</span></p>
    </body>

    <body>
        <p style="color:blue;"> Shots Per Game: <%= teamStats.shotsPerGame.toFixed(2) %> <span style="color:red;">(<%= teamStatsRanking.shotsPerGame %>)</span></p>
    </body>

    <body>
        <p style="color:blue;"> Shots Allowed Per Game: <%= teamStats.shotsAllowed.toFixed(2) %> <span style="color:red;">(<%= teamStatsRanking.shotsAllowed %>)</span></p>
    </body>

    <body>
        <p style="color:blue;"> Faceoff Win Percentage: <%= teamStats.faceOffWinPercentage %>% <span style="color:red;">(<%= teamStatsRanking.faceOffWinPercentage %>)</span></p>
    </body>

</div>

<div align="center">
    <% if (isGameDay) { %>
        
        <p> Game Day! </p>
        <p> Display a container about todays game </p>
        <p> If the game is over but its the same day still can show GAME OVER </p>
        <% if (upcomingGames[0].games[0].status.abstractGameState === "Final") { %>
            
            <p> Final </p>
        <% } else if (upcomingGames[0].games[0].status.abstractGameState === "Live") { %>
            <p> Game is live!</p>
        <% } %>
    <%} else if (upcomingGames.length > 0) { %>
        <p> No game today, but got games in the upcoming week </p>
    <% } %>
</div>


<div align="center">
    <h2>Upcoming Games:</h2>
    <% for(var i=0; i<upcomingGames.length; i++) {%>
        <%# can define a template for an upcoming game and pass in the fields you need: include('user/show', {user: user}); %>
        <li style="color:blueviolet;"><%= upcomingGames[i].games[0].venue.name%> </li>
        
    <% } %>
</div>

<%- include('../views/footer') %>